<div class="template" fxLayout="row" fxLayoutGap="10px"> 
  <div fxFlex="100" >
<div  fxLayout="row">
<div fxFlex="100">
  <mat-toolbar class="menu">
    <mat-toolbar-row fxLayout="row">
        <div fxFlex="35">
            <span>{{menuData?.business}}</span>
        </div>
        <div fxFlex="35" fxFlexAlign='center center'>
         <span> {{menuData?.site}} </span>
        </div>
        <div fxFlex="30" fxFlexAlign='end center' >
            <div fxLayout="row" style="float: right;">               
                <div fxFlex="100" fxFlexAlign="center"><button mat-raised-button >LOGIN</button></div>
            </div>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
</div>