<div fxLayout="row" fxLayoutGap='5px' fxLayoutAlign='center center'>
  <div fxFlex='30'>
    <div fxLayout='row' fxLayoutAlign='center center'>
      <div fxFlexAlign="center">{{days}}</div>
    </div>
    <div fxLayout='row' fxLayoutAlign='center center' > 
    <div fxFlexAlign="center">DAYS</div>
    </div>
  </div>
  <div fxFlex='30'>
      <div fxLayout='row' fxLayoutAlign='center center'>
      <div fxFlexAlign="center">{{hours}}</div> 
      </div>
      <div fxLayout='row' fxLayoutAlign='center center' > 
      <div fxFlexAlign="center">HOURS</div>
      </div>
    
  </div>
  <div fxFlex='30'>        
      <div fxLayout='row' fxLayoutAlign='center center'>
      <div fxFlexAlign="center">{{minutes}}</div> 
      </div>
      <div fxLayout='row' fxLayoutAlign='center center' > 
      <div fxFlexAlign="center">MINUTES</div>
      </div>
  </div>
  <div fxFlex='30'>
      <div fxLayout='row' fxLayoutAlign='center center'>
      <div fxFlexAlign="center">{{seconds}}</div> 
      </div>
      <div fxLayout='row' fxLayoutAlign='center center' > 
      <div fxFlexAlign="center">SECONDS</div>
      </div>    
  </div>
</div>






