
<mat-progress-bar mode="query" *ngIf="progressBar"></mat-progress-bar>
    <table style="margin-top: 15px;  margin-bottom: 15px; width: 100%;">
        <tr>
            <td fxFlex="100"><p>Process payment with credit card below</p>
            <fa-icon [icon]="faCcAmex" size="2x" class="fa-icon"></fa-icon>
            <fa-icon [icon]="faCcDiscover" size="2x" class="fa-icon"></fa-icon>            
            <fa-icon [icon]="faCcVisa" size="2x" class="fa-icon"></fa-icon>            
            <fa-icon [icon]="faCcMastercard" size="2x" class="fa-icon"></fa-icon>                                                                                   
            </td><td fxFlex="10" fxLayout="column" fxLayoutAlign="center"></td><td fxFlex="100" fxLayout="column" fxLayoutAlign="center"></td>
        </tr> 
        <tr  *ngIf="stripeClientData?.stripe_id !== null"><td colspan="1"> <h1>Hi we notice that you alredy client, do yoy whant to pay with saved card?</h1>
        <button fxFlex="10" [style]="fontBody" mat-raised-button (click)="payWithSavedCard(4)"> Pay </button>
         
        </td><td>     <p fxFlex="20" >card details: ...{{stripeClientData?.card_last_four}}, Brand: {{stripeClientData?.card_brand}}</p>         </td></tr>   
    </table>      


<div fxLayout="row"  fxLayoutAlign="center center" >
        <div fxFlex="50" class="error" *ngIf="cardError">
        <strong>{{cardError}}</strong>
        </div>
</div>

 <div fxLayout="row" fxLayoutAlign="center center" >
    <div fxFlex="50">          
        <div fxFlex="100" #cardInfo></div>
    </div>
</div>    

<div fxLayout="row" style="margin-bottom: 5px;" fxLayoutAlign="center center" class="btn-container">
    <div fxFlex="50">
            <button fxFlex="100" [style]="fontBody" [disabled]='btnDisabled' mat-raised-button (click)="paymentProcess(4)"> Process Payment</button>                                               
    </div>
</div>    

    <!-- 
        <div class="example-container">
    <mat-form-field fxFlex="50" appearance="fill">
    <mat-label>Credit Card Number</mat-label>
        <input matInput type="number">                                                
    </mat-form-field>

    <mat-form-field fxFlex="25" appearance="fill">
    <mat-label>MM/YY</mat-label>
        <input matInput type="number" class="example-right-align">                                
    </mat-form-field>
    <mat-form-field fxFlex="25" appearance="fill">
    <mat-label>Zip Code</mat-label>
        <input matInput type="number" class="example-right-align">                                
    </mat-form-field> </div> -->
