  
<div class="template">
<fury-menu></fury-menu>
    <div fxLayout="row">
        <div fxFlex="100">    
              
            <div class="container" >
                <div fxLayout="row"  *ngFor="let r of structure?.row_order let RI = index">
                    <div fxFlex="100">                
                        <div     
                        class="column-body"                         
                        *ngFor="let c of structure?.rows[r]?.column_order let CI = index" >                           
                            <div class="block"  
                             *ngFor="let b of structure?.rows[r]?.columnBlockOrder[c] let BI = index">                             
                            <div #blockComponent    ></div>   
                               <!-- id="{{r}}{{c}}{{b}}"  [ngStyle]="{'display': (ifBlockHasComponent(blocks, r,c,b)) ? 'block' : 'none'}"  -->
                             
                             </div>
                        </div>
                    </div>
                </div>

            </div>
         </div>
    </div>
</div>