<div class="template">
    <app-menu 
    [businessName]="signUpData$?.businessName"
    [title] ="menuTitle"
    [logedIn]="isAuthenticated" 
    [affiliateData]="affiliateData"
    [sitestyle]="sitesStyles$"  
    (affiliateRouting)="menuAffRouting($event)"
    ></app-menu>
    
    <mat-progress-bar *ngIf="loadingBody" mode="indeterminate"></mat-progress-bar>
    <div *ngIf="isAuthenticated" #body> </div>
    <div *ngIf="!isAuthenticated" [style.background-image]="'url(/assets/img/login.jpeg)'" class="bk"></div>
</div>
