<div class="template" fxLayout="row" fxLayoutGap="10px"> 
  <div fxFlex="100" >
<div  fxLayout="row">
<div fxFlex="100">

  <mat-toolbar class="menu">
    <mat-toolbar-row fxLayout="row">
        <div fxFlex="35">
            <span>{{businessName}}</span>
        </div>
        <div fxFlex="35" fxFlexAlign='center center'>
         <span> {{title}} </span>
        </div>
        <div fxFlex="30" fxFlexAlign='end center' >
            <div fxLayout="row" style="float: right;">               
                <div fxFlex="100" fxFlexAlign="center">
                <button 
                *ngIf="!logedIn"
                (click)="openDialog()"
                mat-raised-button
                 >LOGIN</button>
                  <button mat-icon-button 
                   *ngIf="logedIn"
                        class="menu-button"
                        [matMenuTriggerFor]="topMenu" 
                        aria-label="Example icon-button with a menu">                           
                            <img *ngIf="pictureUrl !== null" class="avatar" [src]="pictureUrl">                            
                            <div class ="dot" *ngIf="pictureUrl === null">
                                <h1>{{ letter | uppercase | slice:0:1 }}</h1>
                            </div>                        
                        <mat-icon class="icon" fxHide fxShow.gt-sm>keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #topMenu="matMenu">
                        <button [routerLink]="'../dashboard'" mat-menu-item>
                            <mat-icon>link</mat-icon>
                        <span>Dashboard</span>
                        </button>
                        <button [routerLink]="'../affiliates'" mat-menu-item >
                         <mat-icon>link</mat-icon>
                        <span>Affiliate</span>
                        </button>
                        <button [routerLink]="'../account'" mat-menu-item >
                         <mat-icon>link</mat-icon>
                        <span>Account</span>
                        </button>
                        <button [routerLink]="'../billing'" mat-menu-item >
                         <mat-icon>link</mat-icon>
                        <span>Billing</span>
                        </button>

                        <button mat-menu-item (click)="logOut()">
                            <mat-icon>logout</mat-icon>
                        <span>Log out</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </mat-toolbar-row>



  <mat-toolbar-row fxLayout="row" *ngIf="title === 'Affiliate Program'">
        <div fxFlex="70">
            <button mat-button (click)="menuRouting('resources')" style="color: orange;"> Resources</button>
            <button mat-button (click)="menuRouting('links')"> Affiliate Links</button>
            <button mat-button (click)="menuRouting('sales')"> Sales</button>
        </div>        
        <div fxFlex="30" fxFlexAlign='end center' >
            <div fxLayout="row" style="float: right;">               
                <div fxFlex="100" fxFlexAlign="center">                
                    <small>PayPal Email: {{affiliateData?.paypal_email}}  </small>                   
                </div>
            </div>
        </div>
    </mat-toolbar-row>




  </mat-toolbar>
</div>
</div>
