<div fxLayout="row" fxLayoutAlign="center" class="template">
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="start">
  
<h3>Hi you are entering to {{siteName}}</h3>
<form [formGroup]="logIn" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Info@22social.com">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input [type]="inputType" matInput formControlName="password" placeholder="">
    
    <mat-icon 
    class="icon-button"
    [ngStyle]= "{display : (inputType === 'password') ? 'block' : 'none' }"
    *ngIf="inputType === 'password'"
    (click)="changeInput()"
    matSuffix >visibility</mat-icon>
    
    <mat-icon 
     [ngStyle]= "{display : (inputType === 'text') ? 'block' : 'none' }"
    class="icon-button"    
    (click)="changeInput()"
    matSuffix >visibility_off</mat-icon>

  </mat-form-field>

<div fxLayout="row">
<div fxFlex="100">
   <button fxFlex="100" type="button" mat-raised-button  (click)="onFormSubmit()"> Enter </button>
</div>
</div>
</form>
    </div>
</div>

