<div class="template" fxLayout="row" fxLayoutGap="10px"> 
  <div fxFlex="100" >
<div  fxLayout="row">
<div fxFlex="100">
  <mat-toolbar class="menu">
    <mat-toolbar-row fxLayout="row"  [style]="siteStyles?.rows_style?.default?.text?.body">
        <div fxFlex="35">
            <span>{{menuData?.business}}</span>
        </div>
        <div fxFlex="35" fxFlexAlign='center center'>
         <span> {{menuData?.site}} </span>
        </div>
        <div fxFlex="30" fxFlexAlign='end center' >
            <div fxLayout="row" style="float: right;">               
                <div fxFlex="100" fxFlexAlign="center">
                    <button mat-icon-button 
                     [style]="siteStyles?.rows_style?.default?.buttons"
                        class="menu-button"
                        [matMenuTriggerFor]="menu" 
                        aria-label="Example icon-button with a menu">

                          <img *ngIf="pictureUrl !== null" class="avatar" [src]="pictureUrl">                            
                            <div class="dot" *ngIf="pictureUrl === null">
                                <h1>{{ letter | uppercase | slice:0:1 }}</h1>
                            </div>
                        <mat-icon class="icon" fxHide fxShow.gt-sm>keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button [routerLink]="'../dashboard'" mat-menu-item>
                            <mat-icon>link</mat-icon>
                        <span>Dashboard</span>
                        </button>
                        <button [routerLink]="'../affiliates'" mat-menu-item >
                         <mat-icon>link</mat-icon>
                        <span>Affiliate</span>
                        </button>
                        <button [routerLink]="'../account'" mat-menu-item >
                         <mat-icon>link</mat-icon>
                        <span>Account</span>
                        </button>
                        <button [routerLink]="'../billing'" mat-menu-item >
                         <mat-icon>link</mat-icon>
                        <span>Billing</span>
                        </button>
                        <button  [style]="siteStyles?.rows_style?.default?.text?.body" mat-menu-item (click)="logOut()">
                            <mat-icon>notifications_off</mat-icon>
                        <span>Log out</span>
                        </button>
                    </mat-menu>
                
                </div>
            </div>
        </div>
    </mat-toolbar-row>

       <mat-toolbar-row>         
       <div class="menu-button"  *ngFor="let menu of menuData?.pages; let i = index"   >
        <!-- -->
        <button 
        [style]="siteStyles?.rows_style?.default?.buttons"                     
        mat-raised-button             
        [color]="menu.active ? 'primary' : 'default'"
        (click)="setActivePage(menu?.page_number)"
        [routerLink]="[menu?.page_tittle | routerPath]"
        >
        {{menu?.page_tittle}}
        </button>
        </div>
      </mat-toolbar-row>
<!--
      
"page_number" => "0",
"page_tittle" => "Home",
"page_type" => "normal",
"active" => true,
"structure_json" => "",
"site_id" => "1"
-->

  </mat-toolbar>
</div>
</div>