<div fxLayout="row" fxLayoutAlign="center" class="template" >
<div fxFlex="100" fxLayout="column" fxLayoutAlign="start">
    <!-- content-->
        <!-- info -->
        <div class="box" [style]="siteStyles?.rows_style['highlight']?.section">
            <div  fxLayout="row" >                                    
            <div fxFlex="100">                   
                <!-- body content -->                                
                <h1> Your sales will show up here!</h1>                
                <!-- end body content -->
            </div>             
        </div>  
    </div>
   
</div>
</div>
<!-- end info-->
