<div fxLayout="row" fxLayoutAlign="center" class="template">
    <div fxFlex="70" fxLayout="column" fxLayoutAlign="start">
    <!-- content-->
        <!-- info -->
        <div class="box">
            <div  fxLayout="row"  *ngFor="let block of blocks$ let i = index">                                    
                    <div fxFlex="100">
                        <!-- body content -->                                
                        <div #previewComponents 
                            [ngStyle]= "{'display' : block.block_type === 'empty' ? 'block' : 'none'}"></div>                     
                        <!-- end body content -->
                    </div>             
            </div>  
        </div>
        <!-- end info-->
        <!-- email content -->    
     <div class="row box" *ngIf="isAuthenticated && freeSub">
     <div fxLAyout="row">
        <div fxFlex="100">
            <p>Plase click on continue in order to get the free Subscrition. </p>
        </div>
        </div>
     <div fxFlex="100">
     
         <button  (click)="logedInFreeSub()" fxFlex="100" mat-raised-button> Continue</button> 
     </div>
     </div>
      <div style="position: relative;" *ngIf="emailSignup && !isAuthenticated">
         <h3 >Email</h3>
        <div class="row box">
                <div fxFlex="100">                    
                <mat-progress-bar mode="query" *ngIf="progress"></mat-progress-bar>
                    <div fxLayout="row" *ngIf="account?.account === 'exist'">
                        <div fxFlex="100">
                            Plase Login                 
                        </div>        
                    </div>
                <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()">   
                    <div *ngIf="passMatch" style=" color: red; margin-bottom: 15px;">                    
                            Confirm Password and Password dosent match.                       
                    </div>   
                    <div *ngIf="LogInerror !== ''" style=" color: red; margin-bottom: 15px;">
                    {{LogInerror}}
                    </div>       
                    <mat-form-field appearance="legacy" class = "full-input">
                    <mat-label>Enter your email address <b>{{validatonEmailLbl}}</b></mat-label>
                    <input type="email"  formControlName="email"  (focusout)="onFocusOutEvent($event)"  matInput placeholder="email@example.com">   
                        <mat-error *ngIf="emailForm.controls.email.hasError('required')">
                          Email is required.
                        </mat-error>                  
                    </mat-form-field>  
      
                    <mat-form-field *ngIf="account?.account === 'exist' || account?.account === 'dosent'" 
                    appearance="legacy" class = "full-input">
                    <mat-label>Enter Password</mat-label>
                    <input  matInput type="password" formControlName="password" >    
                        <mat-error *ngIf="emailForm.controls.password.hasError('required')">
                          Password is required.
                        </mat-error>                     
                    </mat-form-field>   

                    <mat-form-field *ngIf="account?.account === 'dosent'" appearance="legacy" class = "full-input">
                    <mat-label>Confirm Password</mat-label>
                    <input  matInput type="password" formControlName="confirmPassword">      
                        <mat-error *ngIf="emailForm.controls.confirmPassword.hasError('required')">
                         Confirm Password is required.
                        </mat-error>
                                                         
                    </mat-form-field> 
                    <div fxLayout="row" *ngIf="account?.account === 'exist'">
                        <div fxFlex="100">
                           <button mat-raised-button> forgot password?</button>                    
                        </div>        
                    </div>
                <!-- [(ngModel)]="emailTerms"-->
                    <section> 
                        <mat-checkbox formControlName="agree"  >I accept Terms of Service and Privacy Policy</mat-checkbox>     
                        <mat-error *ngIf="emailTerms">
                          Terms of Service... is required.
                        </mat-error>           
                    </section>   
                    
                    <div fxLayout="row" fxLayoutAlign="center center" class="btn-container">
                    
                            <div fxFlex="50">
                            <!--  (click)="paymentProcess(2)" -->
                                <button [disabled]="!emailForm.valid" type="submit" fxFlex="100" mat-raised-button> Continue</button>                                               
                            </div>
                    </div> 
                     
                </form>                   
                </div>  
                                           
            </div>
            </div>
        <!-- end email content -->
       <div  [innerHtml]="iframee" style="opacity: 0;"></div>
        <!--  payment coupone -->   
        <div style="position: relative;" *ngIf="paymentOpt && this.siteOptions$[0].signup_type !== 'free'">
        <h3 >Payment Option</h3> 
        <div class="row box">
            <div fxFlex="100"> 

             <button class="back-button"  mat-button (click)="paymentProcess(1)">
             <mat-icon>arrow_back</mat-icon> Edit Email</button> 


               <div fxLAyout="row">
               <div fxFlex="90">
                    <mat-form-field appearance="legacy" class = "full-input">
                    <mat-label>Enter coupone </mat-label>
                    <input [(ngModel)]="enterCoupone" matInput placeholder="coupone name">                          
                    </mat-form-field>
               </div>
                <div fxFlex="10"  fxLayoutAlign="end">
                <button mat-raised-button (click)="applayCoupone()"> Apply </button> 
                </div>
               </div> 

            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="selectedPayment"
            >
                <mat-radio-button class="example-radio-button" 
                *ngFor="let payment of paymentsOpts$" [value]="payment?.option_number">
                    <label *ngIf="payment?.payment_type === 'onetime'">
                     $ {{payment?.initial_amount}} USD one time payment
                    </label>
                    <label *ngIf="payment?.payment_type === 'recurring'">
                    $ {{payment?.initial_amount}} USD initial payment then 
                    $ {{payment?.recurring_amount}} USD {{payment?.recurring_cycle}}
                    </label>   
                    <label *ngIf="payment?.payment_type === 'installments'">
                    $ {{payment?.initial_amount}} USD initial payment then 
                    $ {{payment?.recurring_amount}} USD {{payment?.recurring_cycle}} number of payments {{payment?.number_of_payments}}
                    </label>    

                </mat-radio-button>
            </mat-radio-group>       


                 <div fxLayout="row" fxLayoutAlign="center center" class="btn-container">
                    <div fxFlex="50">
                         <button fxFlex="100" mat-raised-button (click)="paymentProcess(3)"> Continue</button>                                               
                    </div>
                </div>                                          
            </div>                                
        </div>
        </div>
        <!-- end payment coupone -->


        <!--  process payment  -->   
        <div style="position: relative;" *ngIf="processpymt && this.siteOptions$[0].signup_type !== 'free'">
        <h3 >Process Payment </h3>  
        <div class="row box">
            <div fxFlex="100">               
                    <button class="back-button"  mat-button (click)="paymentProcess(2)">
                    <mat-icon>arrow_back</mat-icon> Plan Options</button>             
                    <div fxLayout="row">
                        <div fxFlex="100">
                            <table style="margin-top: 15px;  margin-bottom: 15px; width: 100%;">
                            <tr>
                                <td fxFlex="100"><p>Process payment with credit card below</p>
                                    <fa-icon [icon]="faCcAmex" size="2x" class="fa-icon"></fa-icon>
                                    <fa-icon [icon]="faCcDiscover" size="2x" class="fa-icon"></fa-icon>            
                                    <fa-icon [icon]="faCcVisa" size="2x" class="fa-icon"></fa-icon>            
                                    <fa-icon [icon]="faCcMastercard" size="2x" class="fa-icon"></fa-icon>                                                                                   
                                </td>
                                <td fxFlex="10" fxLayout="column" fxLayoutAlign="center">OR</td>
                                <td fxFlex="100" fxLayout="column" fxLayoutAlign="center"><button mat-raised-button > PayPal Checkout</button></td>
                            </tr>
                            </table>
                        </div>
                    </div>
                   
                    <div fxLayout="row">
                        <div fxFlex="100">
                            <div class="example-container">
                                <mat-form-field fxFlex="50" appearance="fill">
                                <mat-label>Credit Card Number</mat-label>
                                    <input matInput type="number">                                                
                                </mat-form-field>

                                <mat-form-field fxFlex="25" appearance="fill">
                                <mat-label>MM/YY</mat-label>
                                    <input matInput type="number" class="example-right-align">                                
                                </mat-form-field>
                                <mat-form-field fxFlex="25" appearance="fill">
                                <mat-label>Zip Code</mat-label>
                                    <input matInput type="number" class="example-right-align">                                
                                </mat-form-field>
                            </div>
                        </div> 
                    </div>

            <div fxLayout="row" fxLayoutAlign="center center" class="btn-container">
                <div fxFlex="50">
                        <button fxFlex="100" mat-raised-button (click)="paymentProcess(4)"> Process Payment</button>                                               
                </div>
            </div>                                  
        </div>
    </div>
    </div>
        <!-- end payment coupone -->

        <!-- account info -->
        <div style="position: relative;" *ngIf="accountInfo && !isNewUser">
        <h3 >Account Information </h3> 
        <div class="row box" >
            <div fxFlex="100">                   
            <form [formGroup]="userInfoForm" (ngSubmit)="onSubmitUserInfo()">  
                <!-- account info contnet -->
                    <!-- name -->
                    <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="50">
                    <mat-form-field appearance="legacy" fxFlex="100">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="" formControlName="firstName">  
                        <mat-error *ngIf="userInfoForm.controls.firstName.hasError('required')">
                             First Name is required.
                        </mat-error>                                                       
                    </mat-form-field>
                    </div>
                    <div fxFlex="50">
                    <mat-form-field appearance="legacy" fxFlex="100">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="" formControlName="lastName">  
                         <mat-error *ngIf="userInfoForm.controls.lastName.hasError('required')">
                             Last Name is required.
                        </mat-error>                       
                    </mat-form-field>
                    </div>
                    </div>
                    <!-- end name-->
                    <!-- phone -->
                    <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="50">
                    <mat-form-field appearance="legacy" fxFlex="100" *ngIf="accountInfo$?.phone">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="" formControlName="phone"> 
                        <mat-error *ngIf="userInfoForm.controls.phone.hasError('required')">
                             Phone is required.
                        </mat-error>                      
                    </mat-form-field>
                    </div>
                    <div fxFlex="50">   
                        <mat-form-field appearance="legacy" fxFlex="100" *ngIf="accountInfo$?.dob">
                            <mat-label>Birthday</mat-label>
                            <input matInput placeholder="" formControlName="birthday">
                                <mat-error *ngIf="userInfoForm.controls.birthday.hasError('required')">
                                    Birthday is required.
                                </mat-error>                      
                        </mat-form-field>
                    </div>
                    </div>
                    <!-- end phone-->
                    <!-- address -->
                    <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="50">
                    
                    <div fxLayout="row" *ngFor="let a of addresses"> 
                        <mat-form-field appearance="legacy"                     
                        fxFlex="100">
                        <mat-label>{{a}}</mat-label>
                        <input matInput placeholder="">                     
                        </mat-form-field>
                    </div>                    
                    </div>
                    <div fxFlex="50">
                    <mat-form-field appearance="legacy" fxFlex="100">
                    <mat-label>Suite / Apt Number</mat-label>
                    <input matInput placeholder="" formControlName="suiteAptNumber">
                                <mat-error *ngIf="userInfoForm.controls.suiteAptNumber.hasError('required')">
                                    Suite / Apt Number is required.
                                </mat-error>                     
                    </mat-form-field>               
                    </div>
                    </div>
                    <!-- end address-->
                    <!-- City -->
                    <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="50">
                    <mat-form-field appearance="legacy" fxFlex="100">
                    <mat-label>City / Provence</mat-label>
                    <input matInput placeholder="" formControlName="city">
                            <mat-error *ngIf="userInfoForm.controls.city.hasError('required')">
                                    City / Provence is required.
                            </mat-error>                     
                    </mat-form-field>
                    </div>
                    <div fxFlex="50">               
                    </div>
                    </div>
                    <!-- end city-->
                    <!-- country -->
                    <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="50">
                    <mat-form-field appearance="legacy" fxFlex="100">
                    <mat-label>Conuntry</mat-label>
                    <input matInput placeholder="" formControlName="conuntry">
                            <mat-error *ngIf="userInfoForm.controls.conuntry.hasError('required')">
                                    Conuntry is required.
                            </mat-error>                     
                    </mat-form-field>
                    </div>
                    <div fxFlex="50">
                    <mat-form-field appearance="legacy" fxFlex="100">
                    <mat-label>Zip / Postal Code</mat-label>
                    <input matInput placeholder="" formControlName="zip">
                            <mat-error *ngIf="userInfoForm.controls.zip.hasError('required')">
                                    Zip / Postal Code is required.
                            </mat-error>                       
                    </mat-form-field>               
                    </div>
                    </div>
                    <!-- end country-->
                    <!-- question -->
                    <div fxLayout="row" fxLayoutGap="10px" *ngFor="let info of accountInfo$?.custom_questions; let i = index">
                    <div fxFlex="100">
                    <mat-form-field appearance="legacy" fxFlex="100">
                    <mat-label>{{info.question}}</mat-label>
                    <input matInput placeholder="">                     
                    </mat-form-field>
                    </div>                
                    </div>
                    <!-- end question-->

                    <div fxLayout="row" fxLayoutAlign="center center" class="btn-container">
                        <div fxFlex="50">
                            <button fxFlex="100" [disabled]="!userInfoForm.valid"  mat-raised-button > Complete</button>                                               
                        </div>
                    </div>    
                    </form>
                <!-- end account info content -->
            </div>
        </div>
        </div>
        <!-- end  account info -->
    <!-- end content -->    
    </div>
</div>

