<div fxLayout="row" fxLayoutAlign="center" class="template">
    <div fxFlex="70" fxLayout="column" fxLayoutAlign="start">
    <!-- content-->
        <!-- info -->
        <div class="box">
            <div  fxLayout="row"  *ngFor="let block of blocks$ let i = index">                                    
                    <div fxFlex="100">
                        <!-- body content -->                                
                        <div #previewComponents 
                            [ngStyle]= "{'display' : block.block_type === 'empty' ? 'block' : 'none'}"></div>                     
                        <!-- end body content -->
                    </div>             
            </div>  
        </div>
        <!-- end info-->
        <!-- email content -->    
      <div style="position: relative;" *ngIf="emailSignup">
         <h3 >Email</h3>
        <div class="row box">
                <div fxFlex="100">    
                    <div fxLayout="row" *ngIf="account?.account === 'exist'">
                        <div fxFlex="100">
                            Plase Login                 
                        </div>        
                    </div>
                                        
                    <mat-form-field appearance="legacy" class = "full-input">
                    <mat-label>Enter your email address</mat-label>
                    <input type="email"  [(ngModel)]="email" (focusout)="onFocusOutEvent($event)"  matInput placeholder="email@example.com">                     
                    </mat-form-field>  
                    
                    <mat-form-field *ngIf="account?.account === 'exist' || account?.account === 'dosent'" 
                    appearance="legacy" class = "full-input">
                    <mat-label>Enter Password</mat-label>
                    <input  matInput type="password">                     
                    </mat-form-field>   

                    <mat-form-field *ngIf="account?.account === 'dosent'" appearance="legacy" class = "full-input">
                    <mat-label>Confirm Password</mat-label>
                    <input  matInput type="password">                     
                    </mat-form-field> 
                    <div fxLayout="row" *ngIf="account?.account === 'exist'">
                        <div fxFlex="100">
                           <button mat-raised-button> forgot password?</button>                    
                        </div>        
                    </div>
                
                    <section>
                        <mat-checkbox [(ngModel)]="emailTerms">I accept Terms of Service and Privacy Policy</mat-checkbox>          
                    </section>   
                    
                <div fxLayout="row" fxLayoutAlign="center center" class="btn-container">
                    <div fxFlex="50">
                         <button fxFlex="100" mat-raised-button (click)="paymentProcess(2)"> Continue</button>                                               
                    </div>
                </div>                  
                </div>                                
            </div>
            </div>
        <!-- end email content -->
        <!--  payment coupone -->   
        <div style="position: relative;" *ngIf="paymentOpt">
        <h3 >Payment Option</h3> 
        <div class="row box">
            <div fxFlex="100"> 

             <button class="back-button"  mat-button (click)="paymentProcess(1)">
             <mat-icon>arrow_back</mat-icon> Edit Email</button> 


               <div fxLAyout="row">
               <div fxFlex="90">
                    <mat-form-field appearance="legacy" class = "full-input">
                    <mat-label>Enter coupone </mat-label>
                    <input [(ngModel)]="enterCoupone" matInput placeholder="coupone name">                          
                    </mat-form-field>
               </div>
                <div fxFlex="10"  fxLayoutAlign="end">
                <button mat-raised-button (click)="applayCoupone()"> Apply </button> 
                </div>
               </div> 

            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="selectedPayment"
            >
                <mat-radio-button class="example-radio-button" 
                *ngFor="let payment of paymentsOpts$" [value]="payment?.option_number">
                    <label *ngIf="payment?.payment_type === 'onetime'">
                     $ {{payment?.initial_amount}} USD one time payment
                    </label>
                    <label *ngIf="payment?.payment_type === 'recurring'">
                    $ {{payment?.initial_amount}} USD initial payment then 
                    $ {{payment?.recurring_amount}} USD {{payment?.recurring_cycle}}
                    </label>   
                    <label *ngIf="payment?.payment_type === 'installments'">
                    $ {{payment?.initial_amount}} USD initial payment then 
                    $ {{payment?.recurring_amount}} USD {{payment?.recurring_cycle}} number of payments {{payment?.number_of_payments}}
                    </label>    

                </mat-radio-button>
            </mat-radio-group>       


                 <div fxLayout="row" fxLayoutAlign="center center" class="btn-container">
                    <div fxFlex="50">
                         <button fxFlex="100" mat-raised-button (click)="paymentProcess(3)"> Continue</button>                                               
                    </div>
                </div>                                          
            </div>                                
        </div>
        </div>
        <!-- end payment coupone -->


        <!--  process payment  -->   
        <div style="position: relative;" *ngIf="processpymt">
        <h3 >Process Payment </h3>  
        <div class="row box">
            <div fxFlex="100">               
                    <button class="back-button"  mat-button (click)="paymentProcess(2)">
                    <mat-icon>arrow_back</mat-icon> Plan Options</button>             
                    <div fxLayout="row">
                        <div fxFlex="100">
                            <table style="margin-top: 15px;  margin-bottom: 15px; width: 100%;">
                            <tr>
                                <td fxFlex="100"><p>Process payment with credit card below</p>
                                    <fa-icon [icon]="faCcAmex" size="2x" class="fa-icon"></fa-icon>
                                    <fa-icon [icon]="faCcDiscover" size="2x" class="fa-icon"></fa-icon>            
                                    <fa-icon [icon]="faCcVisa" size="2x" class="fa-icon"></fa-icon>            
                                    <fa-icon [icon]="faCcMastercard" size="2x" class="fa-icon"></fa-icon>                                                                                   
                                </td>
                                <td fxFlex="10" fxLayout="column" fxLayoutAlign="center">OR</td>
                                <td fxFlex="100" fxLayout="column" fxLayoutAlign="center"><button mat-raised-button > PayPal Checkout</button></td>
                            </tr>
                            </table>
                        </div>
                    </div>
                   
                    <div fxLayout="row">
                        <div fxFlex="100">
                            <div class="example-container">
                                <mat-form-field fxFlex="50" appearance="fill">
                                <mat-label>Credit Card Number</mat-label>
                                    <input matInput type="number">                                                
                                </mat-form-field>

                                <mat-form-field fxFlex="25" appearance="fill">
                                <mat-label>MM/YY</mat-label>
                                    <input matInput type="number" class="example-right-align">                                
                                </mat-form-field>
                                <mat-form-field fxFlex="25" appearance="fill">
                                <mat-label>Zip Code</mat-label>
                                    <input matInput type="number" class="example-right-align">                                
                                </mat-form-field>
                            </div>
                        </div> 
                    </div>

            <div fxLayout="row" fxLayoutAlign="center center" class="btn-container">
                <div fxFlex="50">
                        <button fxFlex="100" mat-raised-button (click)="paymentProcess(4)"> Process Payment</button>                                               
                </div>
            </div>                                  
        </div>
    </div>
    </div>
        <!-- end payment coupone -->

        <!-- account info -->
        <div style="position: relative;" *ngIf="accountInfo">
        <h3 >Account Information </h3> 
        <div class="row box" >
            <div fxFlex="100">                   
                <!-- account info contnet -->
                    <!-- name -->
                    <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="50">
                    <mat-form-field appearance="legacy" fxFlex="100">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="">                     
                    </mat-form-field>
                    </div>
                    <div fxFlex="50">
                    <mat-form-field appearance="legacy" fxFlex="100">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="">                     
                    </mat-form-field>
                    </div>
                    </div>
                    <!-- end name-->
                    <!-- phone -->
                    <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="50">
                    <mat-form-field appearance="legacy" fxFlex="100" *ngIf="accountInfo$?.phone">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="">                     
                    </mat-form-field>
                    </div>
                    <div fxFlex="50">   
                        <mat-form-field appearance="legacy" fxFlex="100" *ngIf="accountInfo$?.dob">
                            <mat-label>Birthday</mat-label>
                            <input matInput placeholder="">                     
                        </mat-form-field>
                    </div>
                    </div>
                    <!-- end phone-->
                    <!-- address -->
                    <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="50">
                    
                    <div fxLayout="row" *ngFor="let a of addresses"> 
                        <mat-form-field appearance="legacy"                     
                        fxFlex="100">
                        <mat-label>{{a}}</mat-label>
                        <input matInput placeholder="">                     
                        </mat-form-field>
                    </div>                    
                    </div>
                    <div fxFlex="50">
                    <mat-form-field appearance="legacy" fxFlex="100">
                    <mat-label>Suite / Apt Number</mat-label>
                    <input matInput placeholder="">                     
                    </mat-form-field>               
                    </div>
                    </div>
                    <!-- end address-->
                    <!-- City -->
                    <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="50">
                    <mat-form-field appearance="legacy" fxFlex="100">
                    <mat-label>City / Provence</mat-label>
                    <input matInput placeholder="">                     
                    </mat-form-field>
                    </div>
                    <div fxFlex="50">               
                    </div>
                    </div>
                    <!-- end city-->
                    <!-- country -->
                    <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="50">
                    <mat-form-field appearance="legacy" fxFlex="100">
                    <mat-label>Conuntry</mat-label>
                    <input matInput placeholder="">                     
                    </mat-form-field>
                    </div>
                    <div fxFlex="50">
                    <mat-form-field appearance="legacy" fxFlex="100">
                    <mat-label>Zip / Postal Code</mat-label>
                    <input matInput placeholder="">                     
                    </mat-form-field>               
                    </div>
                    </div>
                    <!-- end country-->
                    <!-- question -->
                    <div fxLayout="row" fxLayoutGap="10px" *ngFor="let info of accountInfo$?.custom_questions; let i = index">
                    <div fxFlex="100">
                    <mat-form-field appearance="legacy" fxFlex="100">
                    <mat-label>{{info.question}}</mat-label>
                    <input matInput placeholder="">                     
                    </mat-form-field>
                    </div>                
                    </div>
                    <!-- end question-->

                    <div fxLayout="row" fxLayoutAlign="center center" class="btn-container">
                        <div fxFlex="50">
                            <button fxFlex="100" mat-raised-button > Complete</button>                                               
                        </div>
                    </div>    
                <!-- end account info content -->
            </div>
        </div>
        </div>
        <!-- end  account info -->
    <!-- end content -->    
    </div>
</div>

