<div fxLayout="row" fxLayoutAlign="center" class="template" >
    <div fxFlex="70" fxLayout="column" fxLayoutAlign="start">
    <!-- content-->
        <!-- info -->
        <div class="box" [style]="sitesStyles?.rows_style['highlight']?.section">
            <div  fxLayout="row"  *ngFor="let block of blocks$ let i = index">                                    
                    <div fxFlex="100">                   
                        <!-- body content -->                                
                        <div #previewComponents 
                            [ngStyle]= "{'display' : block.block_type === 'empty' ? 'block' : 'none'}"></div>                     
                        <!-- end body content -->
                    </div>             
            </div>  
        </div>
        <!-- end info-->
        <!-- email content -->    
     <div class="row box" *ngIf="isAuthenticated && freeSub" [style]="sitesStyles?.rows_style['highlight']?.section">
     <div fxLAyout="row">
        <div fxFlex="100" [style]="bodyFont">
            <p>Plase click on continue in order to get the free Subscrition. </p>
        </div>
        </div>
     <div fxFlex="100">
     
         <button [style]="sitesStyles?.rows_style?.default?.buttons" (click)="logedInFreeSub()" fxFlex="100" mat-raised-button> Continue</button> 
     </div>
     </div>
      <div style="position: relative;" *ngIf="emailSignup && !isAuthenticated" [style]="sitesStyles?.rows_style?.default?.text?.body">
         <h3>Email 
         
         </h3>




        <div class="row box" [style]="sitesStyles?.rows_style['highlight']?.section" >
                <div fxFlex="100">                    
                <mat-progress-bar mode="query" *ngIf="progress"></mat-progress-bar>
                    <div fxLayout="row" *ngIf="account?.account === 'exist'">
                        <div fxFlex="100">
                            Plase Login                 
                        </div>        
                    </div>
                <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()">   
                    <div *ngIf="passMatch" style=" color: red; margin-bottom: 15px;">                    
                            Confirm Password and Password dosent match.                       
                    </div>   
                    <div *ngIf="LogInerror !== ''" style=" color: red; margin-bottom: 15px;">
                    {{LogInerror}}
                    </div>       
                    <mat-form-field [style]="bodyFont"  appearance="legacy" class = "full-input">
                    <mat-label>Enter your email address <b>{{validatonEmailLbl}}</b></mat-label>
                    <input type="email" [style]="bodyFont" formControlName="email"  (focusout)="onFocusOutEvent($event)"  matInput placeholder="email@example.com">   
                        <mat-error *ngIf="emailForm.controls.email.hasError('required')">
                          Email is required.
                        </mat-error>                  
                    </mat-form-field>  
      
                    <mat-form-field [style]="bodyFont"  *ngIf="account?.account === 'exist' || account?.account === 'dosent'" 
                    appearance="legacy" class = "full-input">
                    <mat-label>Enter Password</mat-label>
                    <input  matInput type="password" formControlName="password" >    
                        <mat-error *ngIf="emailForm.controls.password.hasError('required')">
                          Password is required.
                        </mat-error>                     
                    </mat-form-field>   

                    <mat-form-field [style]="bodyFont"  *ngIf="account?.account === 'dosent'" appearance="legacy" class = "full-input">
                    <mat-label>Confirm Password</mat-label>
                    <input  matInput type="password" formControlName="confirmPassword">      
                        <mat-error *ngIf="emailForm.controls.confirmPassword.hasError('required')">
                         Confirm Password is required.
                        </mat-error>
                                                         
                    </mat-form-field> 
                    <div fxLayout="row" [style]="bodyFont"  *ngIf="account?.account === 'exist'">
                        <div fxFlex="100">
                           <button mat-raised-button> forgot password?</button>                    
                        </div>        
                    </div>
                <!-- [(ngModel)]="emailTerms"-->
                    <section> 
                        <mat-checkbox formControlName="agree" [style]="bodyFont"  >I accept Terms of Service and Privacy Policy</mat-checkbox>     
                        <mat-error *ngIf="emailTerms">
                          Terms of Service... is required.
                        </mat-error>           
                    </section>   
                    
                    <div fxLayout="row" fxLayoutAlign="center center" class="btn-container">
                    
                            <div fxFlex="50">
                            <!--  (click)="paymentProcess(2)" -->
                                <button [style]="sitesStyles?.rows_style?.default?.buttons" [disabled]="!emailForm.valid" type="submit" fxFlex="100" mat-raised-button> Continue</button>                                               
                            </div>
                    </div> 
                     
                </form>                   
                </div>  
                                           
            </div>
            </div>
        <!-- end email content  [innerHtml]="iframee" -->
       <div  #autoresponder ></div>
        <!-- -->   
        <div style="position: relative;"  payment coupone *ngIf="paymentOpt && this.siteOptions$.signup_type !== 'free'" >
            <app-payment-options [siteStyle]="sitesStyles" (processPay)="submitedPayOptions($event)"></app-payment-options>
        </div>
        <!-- end payment coupone -->


        <!--  process payment     -->   
        <div style="position: relative;" *ngIf="processpymt && this.siteOptions$.signup_type !== 'free'">
        <h3 >Process Payment </h3>  
        <div class="row box" [style]="sitesStyles?.rows_style['highlight']?.section">
            <div fxFlex="100">     
                <!-- stripe - paypal -->
                <button [style]="sitesStyles?.rows_style?.default?.buttons" class="back-button"  mat-button (click)="paymentProcess(2)">
                <mat-icon>arrow_back</mat-icon> Plan Options</button> 
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                    <mat-panel-title [style]="bodyFont">
                    Pay with card
                    </mat-panel-title>                 
                    </mat-expansion-panel-header>
                                           
                        <app-stripe-card [fontBody]="sitesStyles?.rows_style?.default?.buttons" (nexStep)="paymentProcess($event)" [paymentData] ="selectedPaymentOpt"> </app-stripe-card>
                    

                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title [style]="bodyFont">
                    Pay with Paypal
                    </mat-panel-title>
                    <mat-panel-description>                    
                    </mat-panel-description>
                    </mat-expansion-panel-header>                                          
                            <app-paypal (nexStep)="paymentProcess($event)" [paypalData]="selectedPaymentOpt"></app-paypal>                     
                    </mat-expansion-panel>
                </mat-accordion>
                <!-- END stripe - paypal -->                                                                                                                                 
        </div>
    </div>
    </div>
        <!-- end payment coupone -->

        <!-- account info -->
        <div style="position: relative;" *ngIf="accountInfo && !isNewUser">
        <mat-progress-bar mode="query" *ngIf="progress"></mat-progress-bar>
        <h3 >Account Information </h3> 
        <div class="row box" [style]="sitesStyles?.rows_style['highlight']?.section">
            <div fxFlex="100">                   
            <form [formGroup]="userInfoForm" (ngSubmit)="onSubmitUserInfo()" >  
                <!-- account info contnet -->
                    <!-- name -->
                    <div fxLayout="row" fxLayoutGap="10px"  >
                    <div fxFlex="50">
                    <mat-form-field [style]="bodyFont" appearance="legacy" fxFlex="100">
                    <mat-label>First Name</mat-label>               
                    <input matInput placeholder="" formControlName="firstName">  
                        <mat-error *ngIf="userInfoForm.controls.firstName.hasError('required')">
                             First Name is required.
                        </mat-error>                                                       
                    </mat-form-field>
                    </div>
                    <div fxFlex="50">
                    <mat-form-field [style]="bodyFont" appearance="legacy" fxFlex="100">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="" formControlName="lastName">  
                         <mat-error *ngIf="userInfoForm.controls.lastName.hasError('required')">
                             Last Name is required.
                        </mat-error>                       
                    </mat-form-field>
                    </div>
                    </div>
                    <!-- end name-->
                    <!-- phone -->
                    <div fxLayout="row" fxLayoutGap="10px" >
                    <div fxFlex="50">
                    <mat-form-field [style]="bodyFont"  appearance="legacy" fxFlex="100" *ngIf="accountInfo$?.phone">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="" formControlName="phone"> 
                        <mat-error *ngIf="userInfoForm.controls.phone.hasError('required')">
                             Phone is required.
                        </mat-error>                      
                    </mat-form-field>
                    </div>
                    <div fxFlex="50">   
                        <mat-form-field [style]="bodyFont" appearance="legacy" fxFlex="100" *ngIf="accountInfo$?.dob">
                            <mat-label>Date of Birth </mat-label>
                            <input matInput placeholder="" formControlName="birthday">
                                <mat-error *ngIf="userInfoForm.controls.birthday.hasError('required')">
                                    Date of Birth is required.
                                </mat-error>                      
                        </mat-form-field>
                    </div>
                    </div>
                    <!-- end phone-->
                    <!-- address -->
                    <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="50">
                    
                    <div fxLayout="row" *ngFor="let a of addresses; let i = index"> 
                        <mat-form-field [style]="bodyFont" appearance="legacy"                     
                        fxFlex="100">
                        <mat-label>{{a.lbl}}</mat-label>
                        <input matInput placeholder="" formControlName="{{a.formControl}}">                     
                        </mat-form-field>
                    </div>                    
                    </div>
                    <div fxFlex="50">
                    <mat-form-field [style]="bodyFont" appearance="legacy" fxFlex="100">
                    <mat-label>Suite / Apt Number</mat-label>
                    <input matInput placeholder="" formControlName="suiteAptNumber">
                                <mat-error *ngIf="userInfoForm.controls.suiteAptNumber.hasError('required')">
                                    Suite / Apt Number is required.
                                </mat-error>                     
                    </mat-form-field>               
                    </div>
                    </div>
                    <!-- end address-->
                    <!-- City -->
                    <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="50">
                    <mat-form-field [style]="bodyFont" appearance="legacy" fxFlex="100">
                    <mat-label>City / Provence</mat-label>
                    <input matInput placeholder="" formControlName="city">
                            <mat-error *ngIf="userInfoForm.controls.city.hasError('required')">
                                    City / Provence is required.
                            </mat-error>                     
                    </mat-form-field>
                    </div>
                    <div fxFlex="50">               
                    </div>
                    </div>
                    <!-- end city-->
                    <!-- country -->
                    <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="50">
                    <mat-form-field [style]="bodyFont" appearance="legacy" fxFlex="100">
                    <mat-label>Conuntry</mat-label>
                    <input matInput placeholder="" formControlName="conuntry">
                            <mat-error *ngIf="userInfoForm.controls.conuntry.hasError('required')">
                                    Conuntry is required.
                            </mat-error>                     
                    </mat-form-field>
                    </div>
                    <div fxFlex="50">
                    <mat-form-field [style]="bodyFont" appearance="legacy" fxFlex="100">
                    <mat-label>Zip / Postal Code</mat-label>
                    <input matInput placeholder="" formControlName="zip">
                            <mat-error *ngIf="userInfoForm.controls.zip.hasError('required')">
                                    Zip / Postal Code is required.
                            </mat-error>                       
                    </mat-form-field>               
                    </div>
                    </div>
                    <!-- end country-->
                    <!-- question -->
                    <div fxLayout="row" fxLayoutGap="10px" *ngFor="let info of accountInfo$?.custom_questions; let i = index">
                    <div fxFlex="100">
                    <mat-form-field [style]="bodyFont" appearance="legacy" fxFlex="100">
                    <mat-label>{{info.question}}</mat-label>
                    <input matInput placeholder="">                     
                    </mat-form-field>
                    </div>                
                    </div>
                    <!-- end question [disabled]="!userInfoForm.valid"-->

                    <div fxLayout="row" fxLayoutAlign="center center" class="btn-container">
                        <div fxFlex="50">
                            <button fxFlex="100" [style]="sitesStyles?.rows_style?.default?.buttons"  mat-raised-button > Complete</button>                                               
                        </div>
                    </div>    
                    </form>
                <!-- end account info content -->
            </div>
        </div>
        </div>
        <!-- end  account info -->
    <!-- end content -->    
    </div>
</div>

