<div class="template" *ngIf="isLogedIn">
<app-menu [businessName]="businessName"> </app-menu>
<app-body [data]="data" [domain]="businessUrl"> </app-body>
</div>

<div *ngIf="!isLogedIn" fxLayout="row" fxLayoutAlign="center" class="loginbtn">
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="center">
        <button mat-raised-button (click)="openDialog()"> <mat-icon>login</mat-icon> Click here to login </button>
    </div>
</div>
<div *ngIf="!isLogedIn" [style.background-image]="'url(/assets/img/login.jpeg)'" class="bk"></div>
