<div class='template'> 
    <div    
    *ngFor="let r of pageStructure?.row_order let RI = index" >
<div   class="row" fxLayout="row" [style]="rowStyle(siteStyles?.rows_style[pageStructure?.rows[r]?.style]?.section,rowPadding)" >      
    <!-- column -->
<div     
class="column-body"   
      
*ngFor="let c of pageStructure?.rows[r]?.column_order let CI = index" >                           
    <!-- Blok    -->                
    <div class="block-item">
    <!-- Blok ngFor-->
        <div class="block"  
              
                *ngFor="let b of pageStructure?.rows[r]?.columnBlockOrder[c]; let BI = index">
                    <div #blockComponent   
                        id="{{r}}{{c}}{{b}}"
                    ></div>   
        </div>    
    </div>
</div> <!-- end column CONTAINER -->
    </div> <!-- end row ngFor-->
</div> <!-- end temlate -->
</div>
